body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(206, 247, 243);
}

a {
  color: #00B7FF;
}


.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
  margin: 4px 0px;
}

.edit-button {
  font-size: 10px;
  margin-right: 8px;
}
.edit-skill {
  background-color: aquamarine;
}
.new-skill{
  background-color: #9bd2e9;
}
.show-skill{
  background-color: blanchedalmond;
}

button {
  padding: 4px;
  width: 30px;
  height: 30px;
  font-size: 11px;
  text-align: center;
  align-items: center;
  

}
