<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body class="new-skill">
  <h1>New Skill</h1>
  <form action="/devskills" method="POST" autocomplete="off">
    <input type="text" name="done">
    <!-- <select name="proficiency">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select> -->
    <input type="checkbox" name="proficiency">
    <button type="submit">Save Skill</button>
  </form>
</body>
</html>