<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body class="show-skill">
  <h1>Dev-Skill</h1>
  <a href="/devskills/<%= devskill._id%>/edit">✏️ Edit Dev-Skill</a>
  <h2>Devskill #<%= devskill._id %></h2>
  <h3><%= devskill.text %></h3>
  <p>Proficient: <%= devskill.done ? 'Yes' : 'No' %></p>
	<a href="/devskills">Go back</a>
</body>
</html>